.about {
  padding: 1rem;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/maxresdefault\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
