.user-info {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/erzincan-ergan-kkayak-merkezi.jpg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
